h1 {
    width: "65px";
    color: orange;
    font-family: sans-serif;
    font-style: italic;
}
.lista-cor {
    background-color: blue;
}
p {        
    font-weight: 600;
    font-size: 3em;
    text-decoration: underline;
}
body {
    font-size: 16px;
    text-align: justify;
    line-height: 1.6;
}
#lc1 {
    background-color: yellow;
}
#lc2 {
    background-color: red;
}
#lc3 {
    background-color: brown;
}