.bowser {
    width: 400px;
    position: absolute;
    top: 300px;    
    left: 800px;
    z-index: 1;
}
.goomba {
    width: 200px;
    position: absolute;
    top: 500px;
    left: 100px;
    z-index: 2;
}
.baloon {
    width: 300px;
    position: absolute;
    top: 250px;    
    left: 500px;
    z-index: 3;
}
.super-mario {
    width: 300px;
    position: absolute;
    top: 70px;
    left: 170px;
    z-index: 4;
}
.word {
    font-family: fantasy;
    font-size: 25px;
    position: absolute;
    top: 290px;    
    left: 520px;
    z-index: 5;
}